.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2.5em;
}

.App-intro {
    font-size: large;
}

form[name="mainVideoInputForm"], form[name="mainCSVInputForm"] {
    display: block;
    padding-top: 40px;
    width: 33.33%;
    margin-left: 33.33%;
    margin-right: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.formContainer, .videoInputContainer, .videoOptionsContainer, .csvInputContainer {
    align-items: center;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    float: left;
}

.loadingSymbol {
  height: 100px;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading {
    text-align: center;
    padding-top: 200px;
}

.loadingMessage {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
}

.loadingMessage span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loadingMessage span:nth-child(2) {
    animation-delay: .2s;
}

.loadingMessage span:nth-child(3) {
    animation-delay: .4s;
}