.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2.5em;
}

.App-intro {
    font-size: large;
}

form[name="mainVideoInputForm"], form[name="mainCSVInputForm"] {
    display: block;
    padding-top: 40px;
    width: 33.33%;
    margin-left: 33.33%;
    margin-right: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.formContainer, .videoInputContainer, .videoOptionsContainer, .csvInputContainer {
    align-items: center;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    float: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
